@charset "UTF-8";

/*
PALETA DE CORES:
VERDE: #49a09d
LILÃS: #5f2c82
*/
*{
    font-family: system-ui, -apple-system, 
    BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, 
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 
    sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body,html{
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main{
    width: 100vw;
    height: 100vh;
    position: relative;
}

section#login{
    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    box-shadow: 0px 0px 10px black;
    transition: width .3s,heigth .3s;
    transition-timing-function: ease;
    transform: translate(-50%,-50%);
}

section#login > div#imagem{
    background: #5f2c82 url('../fundo.jpg');
    height: 200px;
    background-size: cover;
    background-position: left bottom;
}

section#login > div#formulario{
    padding: 10px ;
}

div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p{
    font-size: 0.8em;
}

form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #49a09d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover{
    background-color: #2d6462;
}

form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: white;
    border: 1px #2d6462 solid;
    border-radius: 5px;
    text-decoration: none;
    color: #2d6462;
    padding-top: 7px;
    margin-top: 5px;
}

form > a.botao:hover{
    background-color: #6cd3cf;
}

form > a.botao > i{
    font-size: .8em;
}

form > div.campo{
    background-color: #5f2c68;
    height: 40px;
    display: block;
    width: 100%;
    border-radius: 5px;
    margin: 5px 0px;
}

div.campo > label{
    display: none;
}

div.campo > i{
    color: white;
    font-size: 2em;
    width: 10%;
    padding-top: 5px;
    padding-bottom: 0px;
    padding-right: 5px;
    padding-left: 5px;
    margin-right: 10px;
}

div.campo > input{
    background-color: #80f1ee;
    font-size: 1em;
    height: 100%;
    border-radius: 8px;
    width: 84%;
    transform: translateY(-28%);
    padding-left: 2px;
    box-sizing: border-box;
    margin-left: 0px;
}

div.campo > input:focus-within{
    background-color: white;
}